<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Filton Guestbook</title>
    <link href="https://fonts.googleapis.com/css?family=Bentham" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <div class="container">
        <div class="polovica leva-polovica">

            {% for post in seznam %}
            <div class="sporocilo">
                <div class="sporocilo-title">
                   <img src="http://via.placeholder.com/100x100">
                    <div class="info">
                        <p>{{post.name}}</p>
                        <p>{{post.email}}</p>
                        <p>{{post.date}}</p>
                    </div>
                </div>
                <div class="crta"></div>
                <p>{{post.message}}</p>
                {% if user and user.email() == post.email %}
                <div class="buttons-div">
                    <button class="btn-edit" data-name="{{post.name}}" data-email="{{post.email}}" data-content="{{post.message}}" data-id="{{post.key.id()}}">Edit</button>
                    <button class="btn-delete delete-initial" data-id="{{post.key.id()}}">Delete</button>
                </div>
                {% endif %}
            </div>
            {% endfor %}

        </div>
        <div class="polovica desna-polovica">


            <h1><span class="red">Filton</span> guestbook</h1>
            <div class="crta2"></div>

            {% if logged_in == True %}
            Logged in as {{user.email()}}. <a href="{{login_url}}">Logout</a>
            <form method="post">
                <label for="name">Nickname</label>
                <input id="name" name="name">
                <input type="hidden" id="email" name="email" value="{{user.email()}}">
                <label for="message">Message</label>
                <textarea id="message" name="message"></textarea>
                {% if error %}
                <div id="error-message">{{error}}</div>
                {% endif %}
                <input type="submit" class="btn" value="Send">
            </form>
            {% else %}
            <p>Please <a href="{{login_url}}">login</a></p>
            {% endif %}
        </div>
    </div>


    <div class="modal" id="delete-modal">
        <div class="modal-box">
            <h3>Are you sure you want to delete this post?</h3>
            <button class="btn-cancel">Cancel</button>
            <form method="post" action = "delete">
                <input type="hidden" name="post-id" value="" id="final-delete">
                <button type="submit" class="btn-delete">Delete</button>
            </form>
        </div>
    </div>

    <div class="modal" id="edit-modal">
        <div class="modal-box">
            <h3>Edit post</h3>
            <form method="post" action="edit">
                <input type="hidden" value="" name="post_id" id="edit-post-id">
                <input name="new_name" id="new-name">
                <textarea name="new_content" id="new-content"></textarea>
                <button type="submit" class="btn-update">Update</button>
            </form>
               <button class="btn-cancel">Cancel</button>
        </div>
    </div>


    <script>

        // Animation

        var sporocila = document.getElementsByClassName("sporocilo");


        sporocila[0].classList.add("slide-in");

        var i = 1;
        var animate = setInterval(function() {

            sporocila[i].classList.add("slide-in");

            i++;

            if (i >= sporocila.length) {

                clearInterval(animate);

            }

        }, 200);


        // Modal


        // Initial Delete Button
        var deleteButtons = document.getElementsByClassName("delete-initial");

        for (var j = 0; j < deleteButtons.length; j++) {

            deleteButtons[j].onclick = function () {

                document.getElementById("final-delete").value = this.dataset.id;
                document.getElementById("delete-modal").style.display = "block";

            }

        }


        // Cancel Button

        var cancelButtons = document.getElementsByClassName("btn-cancel");

        for (var k = 0; k < cancelButtons.length; k++) {

            cancelButtons[k].onclick = function () {

                document.getElementById("delete-modal").style.display = "none";
                document.getElementById("edit-modal").style.display = "none";
            }
        }



        // Edit

        var editButtons = document.getElementsByClassName("btn-edit");
        var editModal = document.getElementById("edit-modal");

        for (var l = 0; l < editButtons.length; l++) {

            editButtons[l].onclick = function () {

                editModal.style.display = "block";
                document.getElementById("new-name").value = this.dataset.name;

                document.getElementById("new-content").innerHTML = this.dataset.content;
                document.getElementById("edit-post-id").value = this.dataset.id
            }
        }

    </script>

</body>
</html>